<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title '' %}</title>
        {{ vite_asset('app.js', ['react']) }}
    </head>
    <body>
        {% block base_body %}{% endblock base_body %}
    </body>
</html>
